services:
  - type: web
    name: dcms-api
    runtime: docker
    region: frankfurt
    plan: free
    healthCheckPath: /health
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: DATABASE_URL
        sync: false
